$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: "Orbitron", monospace !important;
$linkColor: #212529 !important;
$linkmorado: #8e0eb3; //morado oscuro
$linkazul: #0b5394; //azul oscuro
$linkverde: #6aa84f;
$linkverdeoscuro: #3d603d; 
$linkrosa: #f60e85;

.saira-extra-condensed-thin {
  font-family: "Saira Extra Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.saira-extra-condensed-extralight {
  font-family: "Saira Extra Condensed", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.saira-extra-condensed-light {
  font-family: "Saira Extra Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.saira-extra-condensed-regular {
  font-family: "Saira Extra Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.saira-extra-condensed-medium {
  font-family: "Saira Extra Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.saira-extra-condensed-semibold {
  font-family: "Saira Extra Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.saira-extra-condensed-bold {
  font-family: "Saira Extra Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.saira-extra-condensed-extrabold {
  font-family: "Saira Extra Condensed", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.saira-extra-condensed-black {
  font-family: "Saira Extra Condensed", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 700;
  font-style: normal;
}


.share-tech-mono-regular {
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-style: normal;
}


body { background: $backgroundColor; 
  color: $bodyColor; 
  font-family: $bodyFont; 
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Saira Extra Condensed", sans-serif; 
  font-weight: 700;
  letter-spacing: 1px;
}



//body a {
//  color: $linkColor
//}
body a.other {color: $linkColor; background-color: transparent; text-decoration: underline;}
body a.title {color: $linkColor; background-color: transparent; text-decoration: none;}
body a.paper {color: $linkverde; background-color: transparent; text-decoration: none;}
body a.pdf {color: $linkmorado; background-color: transparent; text-decoration: none;}
body a.presentation {color: $linkverde; background-color: transparent; text-decoration: none;}
body a.code {color: $linkrosa; background-color: transparent; text-decoration: none;}






