<div class="row g-5 mb-5 align-items-center">
  <div class="col-md-6">
    <h3 class="fw-bold mb-3">About Me</h3>
    <p style="line-height:1.6">
      I am a graduate student of MIT EECS joint Mathematics and core member of
      <a class="other" href="https://www.ericandwendyschmidtcenter.org/">Eric and Wendy Schmidt Center</a>
      at <a class="other" href="https://www.broadinstitute.org/">Broad Institute</a>. I work closely with Prof. 
      <a class="other" href="https://biweihuang.com/">Biwei Huang</a> (UC San Diego). Previously, I was supervised by 
      Prof. <a class="other" href="https://bryantjmoy.com/">Bryant Moy</a> and 
      <a class="other" href="https://michelesantacatterina.github.io/">Michele Santacatterina</a> at NYU. 
      I hold a joint master’s degree from 
      <a class="other" href="https://math.nyu.edu/dynamic/sites/tandon/">NYU Tandon and Courant</a>.
    </p>
    <p style="line-height:1.6">
      My long-term <strong>research interests</strong> are in the geometry principles underlying biology through the lens of algebraic structure.
    </p>
    <ul style="list-style-type: square; padding-left:20px;">
      <li><strong>Algebro-geometric principles in machine learning:</strong> Formulating theory-driven frameworks, studying learning models as geometric objects, and analyzing representation, equivalence, and identifiability as intrinsic structural properties.</li>
      <li><strong>AI for Biology:</strong> Translating algebro-geometric theory into practical tools for biological discovery, including causality, precise gene editing, and cell state control.</li>
    </ul>
  </div>

  <div class="col-md-5 text-center">
    <figure>
      <img src="{{ site.github.url }}/assets/img/avatar.jpg" alt="Home" style="width:90%; border-radius:15px; box-shadow:0 4px 15px rgba(0,0,0,0.2);">
      <figcaption style="font-size:12px; margin-top:5px;">
        <a class="other" href="https://maps.app.goo.gl/Y3ZpwAgBNz2LMhqdA">
          MIT, Cambridge, MA, USA
        </a>
      </figcaption>
    </figure>
  </div>
</div>

