---
layout: default
---

<div class="container my-5">

  <!-- About Me + Photo -->
  <div class="row g-5 align-items-center mb-3" style= "background: linear-gradient(
    180deg,                       
    rgba(11, 53, 148, 0.9),       
    rgba(11, 53, 148, 1)          
  ); color: #ffffff;">
    <div class="col-md-7">
      <div class="p-3" style= "border-radius:12px;">
        <h3 class="fw-bold mb-3">About Me</h3>
        <p style="line-height:1.65;">
          I am a graduate student <!-- of MIT EECS joint Mathematics and core member of 
          <a class="other" href="https://www.ericandwendyschmidtcenter.org/">Eric and Wendy Schmidt Center</a> at 
          <a class="other" href="https://www.broadinstitute.org/">Broad Institute of Harvard and MIT</a>.--> 
          and an affiliated researcher working closely with Prof. 
          <a class="other" href="https://biweihuang.com/">Biwei Huang</a> (UCSD) and <a class="others" href="https://yixinwang.github.io/">Yixin Wang</a> (UMich). I obtained my
          Master degree from <a class="other" href="https://math.nyu.edu/dynamic/sites/tandon/">NYU Tandon and Courant Institute of Mathematics</a>, where I had fortunate to be advised by 
          Prof. <a class="other" href="https://bryantjmoy.com/">Bryant Moy</a> and 
          <a class="other" href="https://michelesantacatterina.github.io/">Michele Santacatterina</a>.  
        </p>
        <p style="line-height:1.6;">
          My long-term <strong>research interests</strong> lie in developing geometry-driven theoretical frameworks for next-generation machine learning, and in applying these principles to drive biological discovery.

        </p>
      </div>
    </div>

    <div class="col-md-4 text-center">
      <figure>
        <img src="{{ site.github.url }}/assets/img/avatar.jpg" alt="Avatar" 
             style="width:80%; border-radius:15px; box-shadow:0 4px 15px rgba(0,0,0,0.2);">
        <figcaption style="font-size:12px; margin-top:5px;">
          <a class="other" href="https://maps.app.goo.gl/Y3ZpwAgBNz2LMhqdA">
            MIT, Cambridge, MA, USA
          </a>
        </figcaption>
      </figure>
    </div>
  </div>

<div class="hero-bg" style="
     background: url('{{ site.github.url }}/assets/img/Causality.png') center center no-repeat;
     background-position: center 20%;
     background-size: 60%;
     padding: 30px 20px;
     min-height: 420px;
     border-radius:12px;
     position: relative;
  ">

  <!-- Left Top -->
  <div class="info-box left-top" style="
       position: absolute;
       top: 8%;
       left: 4%;
       width: 38%;
       padding: 16px;
       border-radius: 12px;
       background: rgba(233,245,255,0.75);
  ">
    <h4 class="fw-bold mb-2">
      Algebro-Geometric Principles in Machine Learning
    </h4>
    <p style="line-height:1.55;">
      Formulating theory-driven frameworks, viewing learning models as geometric objects,
      and studying representation, equivalence, and identifiability as intrinsic structural properties.
    </p>
  </div>

  <!-- Right Top -->
  <div class="info-box right-top" style="
       position: absolute;
       top: 8%;
       right: 15%;
       width: 38%;
       padding: 16px;
       border-radius: 12px;
       background: rgba(255,244,230,0.75);
  ">
    <h4 class="fw-bold mb-2">
      AI for Biology
    </h4>
    <p style="line-height:1.55;">
      Translating algebraic-geometric learning theory into practical tools for biological discovery,
      including causality analysis, precise gene editing, and control of cell states.
    </p>
  </div>

  <!-- middle-bottom -->
<div class="info-box middle-bottom" style="
     position: absolute;
     bottom: 8%;
     left: 45%;
     transform: translateX(-50%);
     width: 60%;           
     max-width: 800px;     
     height: 70px;         
     padding: 8px 16px;    
     border-radius: 12px;
     background: rgba(0,50,120,0.3); 
     text-align: center;
     color: #fff;
     font-size: 1rem;
     line-height: 1;       
     white-space: nowrap;  
     overflow: hidden;     
     text-overflow: ellipsis; 
">
  <h4 class="fw-bold mb-2">
      Generative Law in Biology World Model
    </h4>
    <p style="line-height:1.55;">
      With geometry principles and its reflection in bioloy, we can go deeper and define the generative law of cells and genes.
    </p>
</div>


  
</div>

  
  <!-- Optional Updates / News Section -->
  {% include news.html %}

</div>

